* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', serif;
    @apply bg-primary-dark
}

.nav-item {
    transition: 300ms;
    @apply text-white text-base font-medium hover:text-primary-light
}

.nav-item.active,
.phone-nav-content .phone-nav-item.active {
    @apply text-primary-light
}

.nav-item a {
    @apply block text-inherit py-3 px-2
}

.nav-indicator {
    transition: 300ms;
    @apply absolute bottom-0 left-0 w-20 h-1 rounded-full bg-primary-light
}

.nav-btn {
    transition: 300ms;
    z-index: 50;
    display: flex;
    flex-direction: row;
    @apply flex gap-3 rounded-full bg-primary-light text-white text-base font-medium px-5 py-2
}

.btn {
    transition: 300ms;
    z-index: 50;
    @apply rounded-xl bg-primary-light text-white text-sm md:text-base font-medium px-5 py-2
}

.btn:disabled {
    @apply bg-gray-200 text-white cursor-not-allowed
}

.bg-btn {
    background: linear-gradient(94.01deg, #31AFB4 0.07%, #ED8074 100.07%);
    @apply hover:shadow-lg hover:shadow-primary/50 active:shadow-none
}

/* Phone menu */

.phone-nav-content {
    width: 100vw;
    height: 100vh;
    @apply bg-primary-dark border-t border-primary/40
}

.phone-nav-content .phone-nav-item {
    transition: 300ms;
    @apply text-white text-base font-medium hover:text-primary-light
}

.phone-nav-item a {
    @apply flex flex-row justify-between items-center text-inherit py-3 px-5
}

.title {
    @apply text-2xl md:text-3xl lg:text-4xl font-bold
}

.text {
    @apply text-base md:text-lg lg:text-2xl text-gray-400
}

.text-foot {
    @apply text-base md:text-lg text-gray-300
}

.link {
    transition: 300ms;
    @apply text-sm md:text-base text-gray-400 hover:text-primary-flight px-2 py-1
}

.skill-item {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    @apply px-3 sm:px-6 py-2 sm:py-4 rounded-xl sm:rounded-3xl relative z-0
}

.skill-item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(96.81deg, #31AFB4 4.51%, #ED8074 97.39%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    @apply border-2 border-transparent rounded-xl sm:rounded-3xl
}

.text-input-container {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    @apply rounded-xl relative z-0
}

.text-input-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: linear-gradient(96.81deg, #31AFB4 4.51%, #ED8074 97.39%) border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: destination-out;
    mask-composite: exclude;
    @apply border-2 border-transparent rounded-xl
}

.input-text {
    @apply bg-transparent rounded-xl w-full px-5 py-3 text-sm md:text-base font-medium text-white autofill:bg-transparent focus:outline-none focus:border-none
}

.bg-flue {
    position: absolute;
    background: radial-gradient(50% 50% at 50% 50%, rgba(49, 175, 180, 0.13) 0%, rgba(20, 33, 45, 0.2) 100%);
    background-blend-mode: soft-light;
    filter: blur(25px);
}

.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    gap: 20px;
    max-height: 500px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid #31AFB4;
    backdrop-filter: blur(10px);
    border-radius: 15px;
}